:root {
  --background-color: #d9a796;
  --text-color: #374e34;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto Condensed", sans-serif;
}

header {
  border-bottom: 4px solid;
  border-radius: 5;
  border-color: var(--text-color);
  color: var(--text-color);
  font: bold;
  padding: 60px;
  position: sticky;
  justify-content: space-evenly;
  align-items: end;
}
h1 {
  font-size: 48px;
  font-style: bold;
}

h2 {
  font-size: 48px;
  font-style: bold;
}

nav {
  border: 4px transparent;
  border-radius: 5;
  color: var(--text-color);
  /* padding: 60px; */
  text-align: end;
  display: flex-row;
}

.nav-link {
  font-size: 30px;
}

#abtmesection {
  font-size: 40px;
}

#bio {
  display: flex;
  flex-wrap: wrap;
}

#contactizzle {
  font-size: 40px;
}
#image {
  padding-top: 70px;
  padding-right: 30px;
  float: right;
  max-width: 300px;
}

#sectionone {
  border-bottom: 4px solid;
  flex-wrap: wrap;
  font-size: 25px;
  padding: 80px;
}

#sectiontwo {
  border-bottom: 4px solid #374e34;
  font-size: 25px;
  padding: 80px;
  flex-wrap: wrap;
}

#twork {
  font-size: 40px;
}

#caption {
  color: var(--text-color);
  font-size: 25px;
}

#umbrella {
  font-size: 30px;
  color: var(--text-color);
  padding-bottom: 60px;
}
